In [ ]:
Hеализовать tfidf для quora.txt

In [1]:
import pandas as pd
import numpy as np
from numpy import dot
from numpy.linalg import norm
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from nltk.tokenize import WordPunctTokenizer

In [2]:
with open('./quora.txt', encoding='utf-8') as f:
    data = list(f)

In [3]:
data[50]

"What TV shows or books help you read people's body language?\n"

In [4]:
text = data[:100]
count = CountVectorizer()
word_count=count.fit_transform(text)

In [5]:
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count)
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=count.get_feature_names(),columns=["idf_weights"])
df_idf.sort_values(by=['idf_weights'])

          idf_weights
what         1.977534
the          2.004203
is           2.118613
how          2.319284
in           2.570598
...               ...
george       4.921973
fulfill      4.921973
freshman     4.921973
formula      4.921973
zotac        4.921973

[510 rows x 1 columns]

In [6]:
tf_idf_vector=tfidf_transformer.transform(word_count)
feature_names = count.get_feature_names()
first_document_vector=tf_idf_vector[1]
df_tfifd= pd.DataFrame(first_document_vector.T.todense(), index=feature_names, columns=["tfidf"])
df_tfifd.sort_values(by=["tfidf"],ascending=False)

              tfidf
food       0.389377
ways       0.389377
overcome   0.389377
addiction  0.389377
fast       0.389377
...             ...
finance    0.000000
film       0.000000
figo       0.000000
field      0.000000
zotac      0.000000

[510 rows x 1 columns]

In [ ]:
Для BoW, TF-IDF и датасета quora.txt - найти самые схожие объекты (косинусное расстояние)

In [7]:
def vectorize(tokens):
    ''' This function takes list of words in a sentence as input 
    and returns a vector of size of filtered_vocab.It puts 0 if the 
    word is not present in tokens and count of token if present.'''
    vector=[]
    for w in filtered_vocab:
        vector.append(tokens.count(w))
    return vector
def unique(sequence):
    '''This functions returns a list in which the order remains 
    same and no item repeats.Using the set() function does not 
    preserve the original ordering,so i didnt use that instead'''
    seen = set()
    return [x for x in sequence if not (x in seen or seen.add(x))]

#create a list of stopwords.You can import stopwords from nltk too
stopwords=["to","is","a"]

#list of special characters.You can use regular expressions too
special_char=[",",":"," ",";",".","?"]

In [8]:
tokenizer = WordPunctTokenizer()
data_tok = [tokenizer.tokenize(row.lower()) for row in data]

pre_data_tok = data_tok[:100]

pre_dict = []
for s in pre_data_tok:
    pre_dict.extend(s)
vocab = unique(pre_dict)

filtered_vocab = []
for w in vocab:
    if w not in stopwords and w not in special_char:
        filtered_vocab.append(w)

vectors = [vectorize(s) for s in pre_data_tok]

data_len = len(pre_data_tok)
cosines = {}
for i in range(data_len):
    for j in range(i + 1, data_len):
        cosines[i, j] = (np.dot(vectors[i], vectors[j]) /
                         np.linalg.norm(vectors[i]) / np.linalg.norm(vectors[j]))
max(cosines.values())
cos_result = max(cosines, key=cosines.get)
for x in cos_result:
    print(pre_data_tok[x])

['what', 'is', 'your', 'review', 'of', 'osquery', '?']
['what', 'is', 'your', 'review', 'of', 'ipad', 'mini', '2', '?']

In [9]:
vectors = tf_idf_vector.toarray()

data_len = len(pre_data_tok)
cosines = {}
for i in range(data_len):
    for j in range(i + 1, data_len):
        cosines[i, j] = (np.dot(vectors[i], vectors[j]) /
                         np.linalg.norm(vectors[i]) / np.linalg.norm(vectors[j]))
max(cosines.values())
cos_result = max(cosines, key=cosines.get)
for x in cos_result:
    print(pre_data_tok[x])

['what', 'is', 'your', 'review', 'of', 'osquery', '?']
['what', 'is', 'your', 'review', 'of', 'ipad', 'mini', '2', '?']