In [ ]:
1. Выберите заказчиков из Германии, Франции и Мадрида, выведите их название, страну и адрес.

SELECT CustomerName, Country, Address FROM Customers
where Country IN ('Germany', 'France') or City IN ('Madrid')

In [ ]:
2. Выберите топ 3 страны по количеству заказчиков, выведите их названия и количество записей.

SELECT Country, count(CustomerID) from Customers
GROUP BY Country
HAVING count(CustomerID) >= 10

In [ ]:
3. Выберите перевозчика, который отправил 10-й по времени заказ, выведите его название, и дату отправления.

SELECT Shippers.ShipperName, Orders.OrderDate
FROM Orders 
JOIN Shippers 
ON Orders.ShipperID=Shippers.ShipperID 
ORDER BY OrderDate
LIMIT 1 OFFSET 9

In [ ]:
4. Выберите самый дорогой заказ, выведите список товаров с их ценами.

WITH Summa_z AS
    (SELECT  OrderDetails.OrderID, Quantity*Price as Summa FROM Products
        INNER JOIN OrderDetails ON OrderDetails.ProductID = Products.ProductID GROUP BY OrderDetails.OrderID ORDER BY Quantity*Price DESC LIMIT 1 OFFSET 0)
Select Products.ProductName, Products.Price, OrderDetails.Quantity  from Summa_z join OrderDetails ON Summa_z.OrderID = OrderDetails.OrderID
join Products ON Products.ProductID = OrderDetails.ProductID

In [ ]:
5. Какой товар больше всего заказывали по количеству единиц товара, выведите его название и количество единиц в каждом из заказов.

SELECT Products.ProductName, Products.Unit 
FROM OrderDetails
JOIN Products 
ON OrderDetails.ProductID=Products.ProductID
GROUP BY OrderDetails.ProductID
ORDER BY Quantity DESC
LIMIT 1 OFFSET 0

In [ ]:
6. Выведите топ 5 поставщиков по количеству заказов, выведите их названия, страну, контактное лицо и телефон.

SELECT Suppliers.SupplierName, Suppliers.Country, Suppliers.ContactName, Suppliers.Phone, COUNT(*) AS number_of_sales
FROM Suppliers join Products ON Suppliers.SupplierID = Products.SupplierID
join OrderDetails ON Products.ProductID = OrderDetails.ProductID
Group BY Suppliers.SupplierID
ORDER BY number_of_sales DESC
LIMIT 5 OFFSET 0

In [ ]:
7. Какую категорию товаров заказывали больше всего по стоимости в Бразилии, выведите страну, название категории и сумму.

SELECT Customers.Country, Categories.CategoryName, SUM(Price*Quantity) as Sum
FROM Customers join Orders ON Customers.CustomerID = Orders.CustomerID
join OrderDetails ON Orders.OrderID = OrderDetails.OrderID
join Products ON OrderDetails.ProductID = Products.ProductID
join Categories ON Products.CategoryID = Categories.CategoryID
where Customers.Country IN ('Brazil')
GROUP BY Categories.CategoryName
ORDER BY Sum DESC
LIMIT 1 OFFSET 0

In [ ]:
8. Какая разница в стоимости между самым дорогим и самым дешевым заказом из США.
WITH Summa_z AS
    (SELECT  OrderDetails.OrderID, Quantity*Price as Summa FROM Products
        INNER JOIN OrderDetails ON OrderDetails.ProductID = Products.ProductID GROUP BY OrderDetails.OrderID ORDER BY Quantity*Price DESC),
     USA AS
    (SELECT  Orders.CustomerID, Country, OrderID  FROM Customers
        INNER JOIN Orders ON Orders.CustomerID = Customers.CustomerID WHERE Country IN ('USA'))

SELECT Max(Summa)-Min(Summa) as Result FROM Summa_z join USA ON USA.OrderID = Summa_z.OrderID

In [ ]:
9. Выведите количество заказов у каждого их трех самых молодых сотрудников, а также имя и фамилию во второй колонке.

SELECT Count(*) as Sales, FirstName ||' '|| LastName AS Fullname
FROM Employees join Orders ON Employees.EmployeeID = Orders.EmployeeID
Group by Employees.EmployeeID
ORDER BY BirthDate DESC
LIMIT 3 OFFSET 0

In [ ]:
10. Сколько банок крабового мяса всего было заказано.

SELECT SUM(Quantity)*24 AS TotalQuantity
FROM Products join OrderDetails ON Products.ProductID=OrderDetails.ProductID
where Products.ProductID IN ('40')